*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.wrapper > * {
    flex: 10 10 100%;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

/* Header Section */

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 10 10 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image:url(Images/Kawasan\ falls\ 3.png);
    background-position: center;
    background-size:cover;
    background-attachment:local;
    border-bottom: solid black 1px;

    /* transition: .10s ease-in-out;
    transition-property: background-position;
    -webkit-transition: .10s ease-in-out;
    -moz-transition: .10s ease-in-out;
    -o-transition: .10s ease-in-out;

    -webkit-transition-property: background-position;
    -moz-transition-property: background-position;
    -o-transition-property: background-position; */
}

@media (max-width: 599px) {
    .header {
        height: calc(100vw*16/9);
    }
}

.navbar {
    width: 100%;
    height: 8.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    margin-top: 0vw;
    padding: .5vw 0;
     /* background-color:  rgba(0, 0, 0, 0.5); */
     /* border: 1px solid black; */
}

.navbar.sticky {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.5);
}

.navbar-content-wrapper {
    display: flex;
    align-self: center;
    justify-content: space-between;
    position: absolute;
    padding: 0vw 0;
    margin: auto;
    width: 95%;
    /* top: 0; */
    /* border: 1px solid green; */
}

.branding {
    margin: 0;
    padding: 1vw 2vw 1vw 2vw;
    left: 0;
    font-size: 3vw;
    color: lime;
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    text-shadow: 0 0 1em rgb(255 255 255);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2em rgb(69 69 69);
    border-radius: 2em;
    border: 1px solid lime;

    /* border: 1px solid red; */
}

@media (max-width: 599px) {
    .branding.active {
        position: relative;
        left: -100%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

.nav-menu {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    /* align-content: center; */
    align-self: center;
    flex-wrap: nowrap;
    padding: 0;
    margin:auto 0vw auto auto;
    position: fixed;
    right: -100%;
    background-color:rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69 69 69);
    border-radius: 2em;
    width: 70%;
    height: 8vw;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border: 1px solid lime;
    box-sizing: border-box;
}

.nav-menu li {
    list-style: none;
}

.nav-menu.active {
    right: 0;
    margin:0 1vw auto 0;
    padding: 0 0vw;
}

.nav-item a {
    margin:0 0 auto 20px;
    padding: 0;
    font-size: 4vw;
    color: lime;
    font-weight: bold;
    text-shadow: 0 0 1em rgb(255 255 255);
}

.nav-link {
    margin:0 0 auto 20px;
}

.nav-link:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
}

.hamburger {
    display: none;
    cursor: pointer;
    align-self: center;
}

.bar {
    display: block;
    width: 20px;
    height: 2.4px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (min-width: 600px) {
    .bar {
    width: 1.953vw;
    height: .234375vw;
    margin: .390625vw 0;
    }
}

.hamburger {
    display: block;
    margin: 0 .5vw 0 0;
    
}

.hamburger.sticky .bar {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:lime;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(6.4px) rotate(45deg);
    background-color:red;
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-6.4px) rotate(-45deg);
    background-color:red;
}

@media (min-width: 600px) {
    .hamburger.active .bar:nth-child(1){
        transform: translateY(.625vw) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-.625vw) rotate(-45deg);
    }
}

/* Hero Section */

.hero-section {
    display: flex;
    align-items: center;
    margin: 0 0 8vw 0;
    padding: 1vw 0 1vw 0;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69 69 69); */
    border-radius: 1.5em;
    /* border: 1px solid black; */
}

/* .hero-image {
    display: block;
    justify-content: center;
    margin: 0 0;
    order: 1;
    border: 1px solid red;
} */

/* .hero-image img {
    border-radius: 50%;
    width: 60%;
    box-shadow: 0 0 0.8em rgb(255 255 255);
} */

.hero-text {
    margin: 0;
    padding: 2vw;
    border: 1px solid lime;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69 69 69);
    border-radius: 1.5em;
}

.hero-text h1 {
    font-size: 6vw;
    font-weight: bolder;
    /* margin: 2vw 0vw 0vw 0vw; */
    padding: 0;

    position: relative;
    color: transparent;
    -webkit-text-stroke: 0.1vw limegreen;
    text-transform: inherit;
    /* border: 1px solid green; */
}

.hero-text h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: lime;
    -webkit-text-stroke: 0.0vw limegreen;
    border-right: 2px solid lime;
    overflow: hidden;
    animation: animate 6s linear infinite;
    /* text-shadow: 0 0 0.8em rgb(255 255 255); */
}

@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}
    
/* .hero-text p {
    color: lime;
    font-size: 4.5vw;
    padding: 0vw 0vw;
    text-shadow: 0 0 0.5em rgb(255 255 255);
    border: 1px solid red;
} */

button {
    display: block;
    background-color:limegreen;
    color: #F9FAF8;
    text-align: center;
    padding: 2vw 3vw 2vw 3vw;
    border: 1px solid white;
    border-radius: 2vw;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bolder;
    font-size: 4vw;
    margin: 2vw auto;
}

button:hover {
    display: block;
    background-color: #F9FAF8;
    color: limegreen;
    border: 1px solid limegreen;
    text-align: center;
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 2vw;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bolder;
    font-size: 4vw;
    cursor: pointer;
    box-shadow: 0 0 0.8em rgb(255 255 255);
    transition: 0.7s ease;
    transform: scale(1.05);
}

/* Information Section */

.Information {
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10vw;
}

.Header h1 {
    font-size: 8vw;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 5vw;
}

.Contents {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.Contents img {
    width: 200px;
    height: 200px;
    /* border: 4px solid #089921; */
    border-radius: 15px;
    object-fit: cover;
    margin: 0 5vw;
    display: inline-block;

    border: 0.1em solid rgb(255, 255, 255);
    box-shadow: 0 10px 30px black;
}

.Contents p {
    margin-bottom: 5vw;
}

.Contents a:hover {
    text-decoration: underline;
}

/* Quote Section */

.Quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.5vw 0;
    margin: 0;
}

.Verse {
    font-style:italic;
    color:#1F2937;
    font-size: 7vw;
    text-align: center;
    width: 85vw;
}

.Book {
    font-size: 6vw;
    font-weight: bold;
    color:#1F2937;
    align-self: center;
    margin-top: 3vw;
    margin-left: 35vw;
}

/* Contact Form Section */

.form-wrapper {
    display: flex;
    flex: 10 10 100%;
    justify-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 8vw 0 8vw 0;
    margin: 3vw 0;
    width: 90%;
    box-shadow: 0 0 2em rgb(69 69 69);
    border-radius: 1.5em;
}

.form-container h1 {
    font-size: 7vw;
    color: #1F2937;
    margin: 0 0 1vw 0;
    /* border: 1px solid red; */
    width: 90%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1vw;
    
}

.form-container input, 
.form-container textarea {
    padding: 1rem;
    background: transparent;
    border: 1px solid black;
    font-size: 5vw;
}

.form-container button {
    width: 22%;
    font-size: 5vw;
    padding: 1vw 2vw;
    border: 1px solid #F9FAF8;
    margin: 0 0 0 0;
}

.form-container button:hover {
    border: 1px solid limegreen;
}


/* CTA Section */

.CTA {
    padding: 5vw 5vw;
    background-color: white;
}

.CTA-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:limegreen;
    border-radius: 8px;
    padding: 2vw 2vw;
    flex-wrap: wrap;
    box-shadow: 0 0 2em rgb(69 69 69);
    border-radius: 1.5em;
}

.CTA-container h1 {
    color: #F9FAF8;
    font-size: 7.5vw;
    font-weight: bold;
    padding: 3vw 0 2vw 0;
    text-align: center;
}

.CTA-container p {
    color: #E5E7EB;
    font-size: 4.5vw;
    text-align: center;
    margin: 0vw 8vw 1vw 8vw;
}

.CTA-container button {
    border: .25vw solid white;
    display: inline-block;
    margin: 4vw 0;
}

/* Footer section */

footer {
    display:flex;
    justify-content: center;
    background-color: black;
    font-size: 4.8vw;
    padding: 20px 0px;
    color: #F9FAF8;
    text-align: center;
}

footer p {
    width: 85%;
}

footer a { 
    color: inherit; 
    text-decoration: underline;

} 

/* Screen size responsive settings */

/* Responsive Settings of Tablet Devices */
@media (min-width: 600px) {

    /* Header Section starting 600px */
    .header {
        height: calc(45vw);
    }

    .navbar {
        width: 100%;
        height: 4vw;
        /* border: 1px solid black; */
    }

    .navbar.sticky {
        background-color:rgba(0, 0, 0, 0.5);
        /* border: 1px solid red; */
    }

    .navbar-content-wrapper {
        width: 95vw;
        height: 4vw;
        align-self: center;
        align-content: center;
        /* border: 1px solid red; */
    }

    .branding {
        margin: 0 0 0 0;
        font-size: 1.5vw;
         /* border: 1px solid red; */
    }

    .hamburger {
        opacity: 0;
    }

    .nav-menu {
        width: 23%;
        height: 4vw;
        right: 0;
        margin-right: 2.5vw;
    }

    /* .nav-menu.active {
        margin-right: 1.5vw;
    } */

    .nav-menu li {
        margin-top: -.4vw;
    }
    
    @media (min-width: 700px) {
        .nav-menu li {
            margin-top: 0;
        }
    }

    .nav-item a {
        font-size: 1.5vw;
        padding: 0vw 0vw 0vw 2vw;
        margin: auto;
    }


    /* Hero Section starting @600px */
    
    .hero-section {
        display: flex;
        flex-wrap: wrap;
        margin: 0vw 0vw 2vw 0;
        padding: 1vw 0 1vw 0;
        /* border: 1px solid red; */
    }

    .hero-image {
        display: flex;
        width: 50%;
        margin: 2vw 0 2vw -1vw;
        flex-wrap: nowrap;
        box-sizing: border-box;
        object-fit: fill;
        order: 1;
        /* border: 1px solid red; */
    }

    .hero-image img {
        max-width: 80%;
        margin-left: 0vw;
        margin-right: 0vw;
    }

    .hero-text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1vw 1vw;
        /* margin: 0vw 0vw 0vw 0; */
        /* border: 1px solid red; */
    }

    .hero-text h1 {
        font-size: 4vw;
        /* padding: 0;
        margin: 0vw 0px 0vw 0vw; */
        /* border: 1px solid red; */
    }

    .hero-text p {
        font-size: 2.5vw;
        padding: .5vw 0vw 1vw 0vw;
        margin: 0 0vw 0 0;
        width: 100%;
        /* border: 1px solid red; */
    }

    .hero-text button {
        margin: 0vw 0 0 0vw;
        /* border: 1px solid red; */
    }

    button {
        margin: 0 0 0 0;
        padding: .5vw 1vw;
        font-size: 2.5vw;
        border-radius: 1vw;
    }

    button:hover {
        padding: .5vw 1vw;
        font-size: 2.5vw;
        border-radius: 1vw;
    }

    /* Information Section starting @600px */

    .Information {
        padding: 0vw 0 10vw 0;
        margin: 0;
    }

    .Header {
        padding: 0vw 0vw;
        width: 70%;
    }

    .Header h1 {
        font-size: 2.8vw;
        font-weight: bolder;
    }

    .Contents {
        margin: 0 0;
        padding: 0 0;
        width: 70%;
        justify-content: space-between;
    }

    .Contents img {
        width: 12vw;
        height: 12vw;
        padding: 0;
        margin: 0;
        /* border: .4vw solid #089921; */
        border-radius: 1vw;
        object-fit: cover;
    }

    .Contents p, .Contents a {
        font-size: 1.3vw;
        margin: .5vw 0vw;
        padding: 0;
        text-align: center;
        justify-self: center;
    }

    /* Quote Section starting at 600px */

    .Quote-section {
        padding: 5vw 0;
    }

    .Verse {
        font-size: 3vw;
        width: 70vw;
        /* border: 1px solid red; */
    }

    .Book {
        font-size: 3vw;
        align-self: center;
        margin: 2vw 0vw 0 38vw;
    }

    /* Contact Form Section starting at 600px */

    .form-container {
        width: 50%;
        padding: 4vw 0;
        margin: 4vw 0 ;
        /* background-color: rgba(150, 146, 146, 0.7); */
        
    }

    .form-container h1 {
        font-size: 2vw
    }

    .form-container form {
        width: 90%;
    }
    
    .form-container input, 
    .form-container textarea {
        font-size: 1.5vw;
        /* margin-bottom: ; */
    }
    
    .form-container button {
        font-size: 1.5vw;
        padding: .5vw 1.5vw;
        width: 17%;
    }

    /* CTA section starting at 600px */
    
    .CTA {
        display: flex;
        justify-content: center;
        padding: 4vw 0;
        background-color:white;
    }

    .CTA-container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 4vw;
        box-sizing: border-box;
        border-radius: 1vw;
    }

    .CTA-text {
        display: flex;
        flex-flow: row wrap;
        align-items: left;
        justify-content: flex-start;
        width: 70%;
    }
    
    .CTA-text h1{
        font-size: 2.5vw;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .CTA-text p {
        font-size: 1.5vw;
        margin: .5vw 0 0 0;
        padding: 0 0 0 0;
        text-align: left;
    }
    
    .CTA-button button {
        margin: 0 0 0 0;
    }

    footer p, footer a {
        font-size: 1.5vw;
        padding: 1vw 0;
    }
}
