*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

.wrapper > * {
    flex: 1 100%;
}

/* Header Section */

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
}

.left-header a{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-right: 15px;
    
}

/*.left-header a:hover{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}*/

.right-header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-right: 2px;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.About:hover, .Store:hover, .Contact:hover {
    text-decoration: underline;
}

a {
    padding: 8px;
    text-decoration: none;
    color: inherit;
  }

/* Hero Section */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    margin: 0;
    padding: 0px 0px;
    flex-wrap: wrap;

}

.hero-text {
    max-width: 100%;
    
    
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    margin-bottom: 8px;
    margin-top: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
   
}

button {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    border: none;
    padding: 10px 35px;
    border-radius: 8px;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
}

button:hover {
    display: block;
    background-color: #F9FAF8;
    color: #3882F6;
    text-align: center;
    border: none;
    padding: 10px 35px;
    border-radius: 8px;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.hero-image img {
    max-width: 500px;
    max-height: 250px;
    /*object-fit: cover;*/
}

.hero-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 100%;
}

.hero-image a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-image a:hover {
    text-decoration: underline;
}

/* Information Section */

.Information {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0px 0px;
    flex-wrap: wrap;
}

.Header {
    
    
}

.Header h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.Contents img {
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    object-fit: cover;
}

.Contents {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    
}

.Contents a:hover {
    text-decoration: underline;
}

/* Quote Section */

.Quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Verse {
    font-size: 36px;
    font-style:italic;
    color:#1F2937;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Book {
    font-size: 24px;
    font-weight: bold;
    color:#1F2937;
    align-self: flex-end;
    margin-right: 15px;
}

/* CTA Section */

.CTA {
    padding: 10px 10px;
}

.CTA-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    gap:10px;

}

.CTA-container h1 {
    color: #F9FAF8;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
    text-align: center;
    
}

.CTA-container p {
    color: #E5E7EB;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.CTA-container button {
    border: 3px solid white;
    display: inline-block;
    margin-bottom: 25px;
}

/* Footer section */

footer {
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 25px;
    color: #F9FAF8;
}

footer a { 
    color: inherit; 
    text-decoration: underline;
} 

/* Screen size responsive settings */

@media all and (max-width: 320px) {
    .hero-section, .hero-text,  .hero-image, .Information, .Quote, .Call-to-action, footer     {
        display: flex;
        flex: 3;
        padding: 0px 4px;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header {
        padding: 15px 0px;
    }

    .hero-text h1 {
        font-size: 40px;
        padding-top: 10px;

    }

    .hero-text p {
        padding: 10px;
    }

    .hero-image img {
        padding-top: 20px;
        max-width: 100%;
    }

    .hero-image a {
        padding: 12px;
    }

    .Header h1 {
        display: flex;
        text-align: center;
        padding: 7px;
        font-size: 32px;
    }

    .Contents p {
        padding-bottom: 10px;
    }

    .Verse p {
        font-size: 28px;
        text-align: center;
        padding: 15px;
    }

    .Book p {
        padding-bottom: 20px;
    }

}

/*@media all and (min-width:600px) {
    .wrapper    {   /*.header, .hero-section, .hero-image,.Information, .Quote, .Call-to-action, footer */
        /*flex: 1;
        
    }
}