*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.wrapper > * {
    flex: 3 100%;
}

/* Header Section */

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

.left-header a{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-right: 15px;
}

.right-header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-right: 2px;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.About:hover, .Store:hover, .Contact:hover {
    text-decoration: underline;
}

a {
    padding: 8px;
    text-decoration: none;
    color: inherit;
  }

/* Hero Section */

.hero-section {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    margin: 0;
    padding: 11px 4px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 4px;
   
}

button {
    display: inline-block;
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    border: none;
    padding: 10px 35px;
    border-radius: 8px;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 29px;
    margin-top: 16px;
}

button:hover {
    display: inline-block;
    background-color: #F9FAF8;
    color: #3882F6;
    text-align: center;
    border: none;
    padding: 10px 35px;
    border-radius: 8px;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.hero-image {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    justify-content: center;
   
}

.hero-image img {
    max-width: 95%;
}

.hero-image a {
    text-decoration: none;
    color: #E5E7EB;
    justify-content: center;
    padding: 10px;
}

.hero-image a:hover {
    text-decoration: underline;
}

/* Information Section */

.Information {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.Header h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

.Contents {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.Contents img {
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    object-fit: cover;
    margin: 0 10px;
    display: inline-block;
    
    
}

.Contents p {
    margin-bottom: 20px;
}

.Contents a:hover {
    text-decoration: underline;
}

/* Quote Section */

.Quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Verse {
    /* font-size: 36px; */
    font-style:italic;
    color:#1F2937;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: clamp(1.3rem, 1rem + 1.5vw, 5rem);
    text-align: center;
    padding: 15px;

}

.Book {
    font-size: clamp(1.3rem, 1rem + 1.5vw, 3rem);
    font-weight: bold;
    color:#1F2937;
    align-self: flex-end;
    margin-right: 25px;
}

/* CTA Section */

.CTA {
    padding: 10px 10px;
}

.CTA-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    gap:10px;
    flex-wrap: wrap;

}

.CTA-container h1 {
    color: #F9FAF8;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
    text-align: center;
    
}

.CTA-container p {
    color: #E5E7EB;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.CTA-container button {
    border: 3px solid white;
    display: inline-block;
    margin-bottom: 25px;
    
}

/* Footer section */

footer {
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 15px;
    color: #F9FAF8;
    text-align: center;
}

footer a { 
    color: inherit; 
    text-decoration: underline;
} 

/* Screen size responsive settings */

@media all and (min-width: 375px) {
    .CTA-container h1 {
        padding: 20px 45px 10px 45px;
    }

    .Header {
        padding: 10px;
    }

    .Quote {
        padding: 30px;
    }

    footer {
        padding: 20px 30px;
    }

}

@media all and (min-width: 425px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-text p {
        padding-left: 60px;
        padding-right: 60px;
    }

    .hero-image a {
        padding-bottom: 35px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .CTA-container p {
        padding: 0 10px;
    }

    footer {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 640px) {
    .header {
        padding: 15px 100px;
        border: 1px solid red;
        max-width: 100%;
        
    }

    .hero-wrapper {
        background-color: #1F2937;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-section {
        max-width: 80%;  
        max-height: calc(80%*16/9);
        display: flex;
        flex-wrap: nowrap;
        margin: 2vw 0vw 4vw 0;
        border: 1px solid red;
    }

    .hero-text {
        max-width: 50%;
        max-height: calc(50%*16/9);
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        align-items: center;
        border: 1px solid red;
        
    }

    .hero-text h1 {
        font-size: 4.2vw;
        padding: 0 0;
        margin: 0px 0px 0vw 0px;
    }

    .hero-text p {
        padding: 0px 0px 0px 0px;
        font-size: 2.1vw;
        margin: 1vw 4vw 0.5vw 0;
    }

    .hero-text button {
        margin: 1vw 0 0 0;
        padding: 1vw 3vw;
        font-size: 2vw;
    }

    .hero-image {
        display: flex;
        max-width: 50%;
        max-height: calc(50%*16/9);
        margin: 0 0 0 0;
        flex-wrap: nowrap;
        border: 1px solid red;
    }

    .hero-image img {
        max-width: 100%;
    }

    .hero-section a {
        display: flex;
        flex-wrap: wrap;
    }

    .Information {
        padding-bottom: 50px;
    }

    .Header {
        padding: 20px;
    }

    .Contents img {
        margin: 0 30px;
    }
    
    .Quote {
        padding: 60px 60px;
    }

    .Verse {
        
    }

    .Book {
        margin-right: 50px;
        margin-top: 10px;
    }

    .CTA {
        padding: 100px 100px;
    }

    .CTA-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 10px 10px 10px;
    }

    .CTA-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
    
    .CTA-text h1{
        padding: 20px;
        
    }

    .CTA-text p {
        font-size: 24px;
        margin: 0 60px;
        text-align: center;
    }
    
    .CTA-button {
        display: flex;
        justify-content: center;
    
        align-items: center;
        
        margin-top: 10px;
        
    }

    footer {
        padding: 25px;
    }
}
